<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <iframe title="pi_0" width="1450px" height="550px" src="https://app.powerbi.com/reportEmbed?reportId=791bbc56-2c05-47ed-a12c-a69e4363db2f&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>